*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: #161414;
}

 /*.navbar
{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    background: #352D2D;
     padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    padding: 32px;
}
.navbar ul{
    margin: 0;
    /* padding: 0;
}
ul.topNav li{
    list-style: none;
    float: left;
}
ul.topNav li.topNav-right{
    float: right;
}
ul.topNav li img{
    height: 50%;
    width: 60%;
    /* padding-left: 10px;
    /* padding: 15px;
    /* padding-top: 30px;
    padding-bottom: 30px;
}
ul.topNav li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-right: 50px;
    /* padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}*/

.nav {
    background: #352D2D;
    width: 100%;
    height: 110px;
    padding: 30px;
    margin-right: 20px;
    /* align-items: center; */
  }
  
  .nav a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    margin: 10px;
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bolder;
  }
  .nav a.logo-left{
    float: left;
    margin-left: 35px;
  }
  .nav a.logo-left img{
    width: 58px;
    height: 35px;
    /* padding-bottom: 12px; */
  }

.row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    margin-top: 65px;
}
.row::after
{
    display: table;
    clear: both;
    content: " ";
}

.imageClass
{
    width: 50%;
    float: left;
    align-items: center;
}

.comingSoonImg
{
    width: 90%;
    margin-left: 8%;
    border-radius: 344px;
}

.aboutHacktoberfest
{
    /* margin-top: 50px; */
    width: 50%;
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.aboutHacktoberfest p{
    padding-right: 8%;
    padding-left: 2%;
    color: #C4A484;

    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.aboutHacktoberfest p.heading
{
    font-size: 50px;
    line-height: 57px;
    font-weight: 600;
    color: #C4A484;
    
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

