*
{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: #161414;
    line-height: 1;
    margin: 0;
}

.navbar
{
    display: block;
    width: 100%;
    margin: 0;
    background: #352D2D;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
ul.topNav li{
    list-style: none;
    float: left;
}
ul.topNav li.topNav-right{
    float: right;
}
ul.topNav li img{
    height: 44%;
    width: 52%;
    padding: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
}
ul.topNav li a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    padding: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #fff;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 50px;
}
.row::after
{
    display: table;
    clear: both;
    content: " ";
}

.imageClass
{
    width: 50%;
    float: left;
    align-items: center;
}

.comingSoonImg
{
        width: 90%;
    margin-left: 8%;
    border-radius: 344px;
}

.aboutHacktoberfest
{
    /* margin-top: 50px; */
    width: 50%;

    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.aboutHacktoberfest p{
    padding-right: 8%;
    padding-left: 2%;
    color: #C4A484;

    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.aboutHacktoberfest p.heading
{
    font-size: 45px;
    line-height: 52px;
    font-weight: 600;
    color: #C4A484;
    
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

