
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Merriweather:wght@300&family=Montserrat:wght@500&family=Raleway:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body {

  background: #379ac496;

}

/*.navbar
{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    background: #352D2D;
     padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    padding: 32px;
}
.navbar ul{
    margin: 0;
    /* padding: 0;
}
ul.topNav li{
    list-style: none;
    float: left;
}
ul.topNav li.topNav-right{
    float: right;
}
ul.topNav li img{
    height: 50%;
    width: 60%;
    /* padding-left: 10px;
    /* padding: 15px;
    /* padding-top: 30px;
    padding-bottom: 30px;
}
ul.topNav li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-right: 50px;
    /* padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}*/

/* .nav {
  background: #017fb5;
  width: 100%;
  height: 110px;
  padding: 30px;
  margin-right: 20px;
  overflow: hidden;

  margin-bottom: 1.2rem;

  /* align-items: center; */
/* }

.nav a {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bolder;
}

.nav a:hover {
  color: #8cddff;
}

.nav a.logo-left {
  float: left;
  margin-left: 35px;
} */
/* .nav a.logo-left img {
  width: 58px;
  height: 35px;
  /* padding-bottom: 12px;} */

  .nav{

    display: flex;
    justify-content: space-between;
    align-content: center;
    background:#017fb5;
    color: #fff;
    padding: 1em 6em;
   
  }
  
  .logo img{
    
    margin: 2%;
    padding-right: 20%;
    height: 80%;
    width: 80%;
   
  }
  .nav ul{
    display: flex;
    justify-content: space-between;
     align-content: center;
    padding-left: 50%;
  
  } 
  .nav li{
    list-style: none;
  
  }
  .nav a{
    text-decoration: none;
    color: #fff;
    padding-top: 1em;
    padding-right:2em;
    font-family: 'Inter';
     text-transform: uppercase; 
    font-size: 1.2em;
  
  }
  .nav a:hover{
    color:#57d4fa;
    text-decoration: underline;
    letter-spacing: 1px;
  }
      .toggle{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
    }
    .bar{
        width: 100%;
        background: #fff;
        height: 3px;
    }
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px 8px;
}
.row::after {
  display: table;
  clear: both;

  content: " ";
}


.imageClass {
  width: 50%;
  float: left;
  align-items: center;
}

.comingSoonImg {
  width: 90%;
  margin-left: 8%;
  border-radius: 344px;


.aboutHacktoberfest {
  /* margin-top: 50px; */


  width: 70%;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  line-height: 35px;
}

.aboutHacktoberfest p {

  padding-right: 8%;
  padding-left: 2%;
  color: #2b3531;
  padding-bottom: 3%;

  /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}

.aboutHacktoberfest p.heading {


  font-size: 50px;
  line-height: 57px;
  font-weight: 600;
  color: #212121;

  padding-bottom: 3%;
  /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}

button.happyHacking {
  position: relative;
  margin: auto;
  font-size: 20px;
  padding: 18px 25px;
  /* background : rgb(149, 203, 221); */
  background-color: #017fb5;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 1px solid #004c99;
  z-index: 1;
}

.happyHacking a {
  text-decoration: none;
  /* color : rgb(58, 58, 58); */
  color: #fff;
  /* color: #004Cb9; */
  letter-spacing: 2px;
  font-weight: bolder;
}

.happyHacking:hover {
  background: linear-gradient(to left, #1c6a8b 50%, #017fb5 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}


.happyHacking span {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background: rgba(48, 141, 233, 0.5);
  border-radius: 10px;
  transition: 0.3s ease-in-out;

  z-index: -1;
}

button.happyHacking:hover a {

  color: rgb(233, 232, 232);

  font-weight: 600;
}

button.happyHacking:hover .button_layer {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .comingSoonImg {
    
  width: 19rem;
  height: 14rem;
    border-radius: 20%;
    padding-left: 0;
    margin-left: 0;
    /* float: left; */
    /* align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem; */
  }
  
}
.toggle{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.bar{
  width: 100%;
  background: #fff;
  height: 3px;
}
@media only screen and (max-width: 600px){

  .logo{
      padding: 0 0.5em;
  }
  .toggle{
    display: flex;
  }

  
  
  .nav li{
      padding-bottom: 2em;
      text-align: center;
  }
  .nav ul{
      padding-top: 3em;
      flex-direction: column;
      display: none;

  }
  .logo img{
  
   
    height: 0%;
    width: 0%;
   
  }
}

  @media (max-width: 600px){
  
      
      .toggle{
        display: flex;
      }
  
      
      
      .nav li{
          /* padding-bottom: 2em; */
          text-align: center;
      }
      .nav ul{
          /* padding-top: 3em; */
          flex-direction: column;
          display: none;
          padding-left: 0%;
  
      }
      .nav a{
        text-decoration: none;
        color: #fff;
        padding-top: 0em;
        padding-right:0em;
        
        font-size: 1em;
      }
      .logo img{
  
        visibility: hidden;
       
      }
      .aboutHacktoberfest {
        /* margin-top: 50px; */
        width: 70%;
        font-family: Poly;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        /* line-height: 35px; */
      }
      
      .aboutHacktoberfest p {
        /* padding-right: 8%;
        padding-left: 2%; */
        color: #2b3531;
        padding-bottom: 3%;
        text-align: center;
        /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
      }
      
      .aboutHacktoberfest p.heading {
        /* font-size: 50px; */
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        font-weight: 550;
        text-align: center;
        color: #2e2c2c;
        padding-bottom: 3%;
        position: relative;
        /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
      }
      
      .aboutHacktoberfest p.heading:before {
        content: '';
        position: absolute;
        top: 2rem;
        /* margin-bottom: 1rem; */
        width: 30rem;
        height: 3px;
        background: rgb(219, 87, 11);
        animation: animate 1s ease-in;
      }
      .aboutHacktoberfest p.heading:after {
        content: '';
        position: absolute;
        top: 2.3rem;
        width: 30rem;
        height: 3px;
        background: black;
        right: 3.5rem;
        animation: animate2 1s ease-in;
      }
  }
  
  
    