* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  /* background: #418cac96; */
}

/*.navbar
{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    background: #352D2D;
     padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    padding: 32px;
}
.navbar ul{
    margin: 0;
    /* padding: 0;
}
ul.topNav li{
    list-style: none;
    float: left;
}
ul.topNav li.topNav-right{
    float: right;
}
ul.topNav li img{
    height: 50%;
    width: 60%;
    /* padding-left: 10px;
    /* padding: 15px;
    /* padding-top: 30px;
    padding-bottom: 30px;
}
ul.topNav li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-right: 50px;
    /* padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}*/

.nav {
  background: #017fb5;
  width: 100%;
  height: 110px;
  padding: 30px;
  margin-right: 20px;
  overflow: hidden;
  margin-bottom: 1.2rem;
  /* align-items: center; */
}

.nav a {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bolder;
}
.nav a.logo-left {
  float: left;
  margin-left: 35px;
}
.nav a.logo-left img {
  width: 58px;
  height: 35px;
  /* padding-bottom: 12px; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
}
.row::after {
  display: table;
  clear: both;
  content: ' ';
}

.flex {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  align-items: center;
}

.imageClass {
  position: relative;
  z-index: 3;
  width: 50%;
  /* float: left; */
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.comingSoonImg {
  width: 70%;
  /* margin-left: 8%; */
  /* border-radius: 344px; */
  border-radius: 10%;
}

.aboutHacktoberfest {
  /* margin-top: 50px; */
  width: 70%;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}

.aboutHacktoberfest p {
  /* padding-right: 8%;
  padding-left: 2%; */
  color: #2b3531;
  padding-bottom: 3%;
  text-align: center;
  /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}

.aboutHacktoberfest p.heading {
  /* font-size: 50px; */
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 57px;
  font-weight: 550;
  text-align: center;
  color: #2e2c2c;
  padding-bottom: 3%;
  position: relative;
  /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}

.aboutHacktoberfest p.heading:before {
  content: '';
  position: absolute;
  top: 3.3rem;
  /* margin-bottom: 1rem; */
  width: 33rem;
  height: 3px;
  background: rgb(219, 87, 11);
  animation: animate 1s ease-in;
}
.aboutHacktoberfest p.heading:after {
  content: '';
  position: absolute;
  top: 3.6rem;
  width: 33rem;
  height: 3px;
  background: black;
  right: 12.5rem;
  animation: animate2 1s ease-in;
}

@keyframes animate {
  from {
    width: 2rem;
  }
  to {
    width: 33rem;
  }
}
@keyframes animate2 {
  from {
    width: 2rem;
  }
  to {
    width: 33rem;
  }
}
.orange {
  color: rgb(255, 94, 0);
  font-weight: 600;
}
.makeBold {
  color: #000;
}

button.happyHacking {
  position: relative;
  margin: auto;
  font-size: 20px;
  padding: 18px 25px;
  /* background : rgb(149, 203, 221); */
  /* background-color: #dd3c0b; */
  background: rgb(236, 101, 11);
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 1px solid #e06703;
  z-index: 1;
}

.happyHacking a {
  text-decoration: none;
  /* color : rgb(58, 58, 58); */
  color: #fff;
  /* color: #004Cb9; */
  letter-spacing: 2px;
  font-weight: bolder;
}

.happyHacking span {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* background: rgba(236, 127, 24, 0.5); */
  background-color: #dd3c0b;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

button.happyHacking:hover a {
  color: rgb(233, 232, 232);
  font-weight: 600;
}

button.happyHacking:hover .button_layer {
  width: 100%;
}
