
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Merriweather:wght@300&family=Montserrat:wght@500&family=Raleway:wght@500&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: #ffffff;
  color: rgb(0, 0, 0);
}
.main {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.main #video {
  position: absolute;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.main .navbar {
  position: absolute;
  height: auto;
  width: 100%;



  margin: 2% 0;

  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
}
.main .navbar .logo {
  position: relative;
  height: auto;
  width: 20%;
  left: 10%;
  float: left;

  font-family: 'Lato', sans-serif;

  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;
}

.main .navbar .logo:hover {
  color: rgba(0, 0, 0, 0.4);
}
.main .navbar ul {
  position: relative;
  float: right;
  width: 50%;

  right: -25%;

  /* padding-right: 1%; */
  height: auto;
  margin: auto;
}
.main .navbar ul li {

  font-size: 15px;
  margin: 0px 4px;

  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: auto;

  cursor: pointer;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.main .navbar ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.main .navbar ul li:hover:after {
  transform: scaleX(0.9);
  transform-origin: bottom center;
}

.main .navbar ul li a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "cinzel", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.main .heading {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  padding-top: 100px;
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
}
.main .heading .head {
  position: relative;
  font-family: "RacingSansOne", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.main .heading .head span {
  color: #007bff;
}
.main .heading .sub {
  position: relative;
  font-family: "cinzel", sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding-top: 40px;
  color: #fff;
  margin: -2% 0 2% 0;
}
.main .heading .btns {
  height: auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .heading .btns a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "cinzel", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
  border: 1px solid #007bffad;
  height: auto;
  width: 150px;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  border-radius: 2px;
  transition: 0.5s ease-in-out;
}
.main .heading .btns a:hover {
  background: linear-gradient(to right, #007bff 50%, #3999ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
.main .heading .btns .btn1 {
  font-weight: 400;
  letter-spacing: 1px;
  background: #007bff;
  border: 1px solid #007bff;
}
.main .heading .btns .btn1:hover {
  background: linear-gradient(to right, #007bff 50%, #3999ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.imga {
  max-width: 200px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

  text-decoration: none;
}
footer {
  width: 100%;
  position: bottom;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type='text'] {

  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {

  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #007bff;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #035b81;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: linear-gradient(to right, #007bff 50%, #3999ff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;

}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #035b81;
}
footer .bottom {
  width: 100%;
  text-align: center;
  color: #fdfdff;
  padding: 0 40px 5px 0;
}
footer .bottom a {

  color: #035b81;

}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {

  color: #035b81;

}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}
.blueiconcolor {
  color: blue;
}
