body{
    background-color: bisque;
    margin-left: 10px;
    margin-right: 15px;
    padding-bottom: 5px;
}

#heading{
    font-size: larger;
    text-align: center;
}
b{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}