@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Merriweather:wght@300&family=Montserrat:wght@500&family=Raleway:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #379ac496;
}

.nav {
  background: #017fb5;
  width: 100%;
  height: 70px;
  padding: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* align-items: center; */
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  color: white;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.nav a.logo-left {
  float: left;
  margin-left: 35px;
}
.nav a.logo-left img {
  width: 58px;
  height: 35px;
  /* padding-bottom: 12px; */
}

.content {
  margin-top: 65px;
}
.content h1 {
  font-family: 'Yatra One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  text-align: center;
  color: #ffff;
  padding-bottom: 32px;
}

.photos p {
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  font-family: 'Cinzel', serif;
  color: #ffff;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.shirt,
.prize,
.stickers {
  width: 33.3%;
  text-align: center;
}

.photos img {
  height: 280px;
  width: 310px;
  border-radius: 50%;
  margin-top: 45px;
  box-shadow: 0px 1px 30px 10px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 1px 30px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 30px 10px rgba(255, 255, 255, 0.75);
}

.free {
  display: flex;
  text-align: center;
  justify-content: center;
}

button {
  background: #017fb5;
  align-content: center;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
}

button a {
  text-decoration: none;
  color: #ffff;
}

button:hover {
  cursor: pointer;
  padding: 16px;
}
