* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #379ac496;
}

.nav {
  background: #017fb5;
  width: 100%;
  height: 110px;
  padding: 30px;
  margin-right: 20px;
  /* align-items: center; */
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bolder;
}

.nav a:hover {
  color: #97e0ff;
}

.nav a.logo-left {
  float: left;
  margin-left: 35px;
}
.nav a.logo-left img {
  width: 58px;
  height: 35px;
  /* padding-bottom: 12px; */
}

.content {
  margin-top: 65px;
}
.content h1 {
  font-family: "Yatra One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  text-align: center;
  color: #ffff;
  padding-bottom: 32px;
}

.photos p {
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffff;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.shirt,
.prize,
.stickers {
  width: 33.3%;
  text-align: center;
}

.photos img {
  height: 280px;
  width: 310px;
  border-radius: 50%;
  margin-top: 45px;
}

.free {
  display: flex;
  text-align: center;
  justify-content: center;
}

button {
  background: #017fb5;
  align-content: center;
  padding: 15px;
  border: none;
  border-radius: 10%;
  font-size: 20px;
}

button a {
  text-decoration: none;
  color: #ffff;
}

button:hover {
  background: linear-gradient(to right, #017fb5 50%, #2c8cb6 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
