*
{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: #379ac496;
    margin: 0;
}
#logo
{
    position: absolute;
    top:35px;
    width:58px;
    height:35px;
}

.navbar
{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0;
    background: #017FB5;
    /* padding-top: 32px;
    padding-bottom: 32px; */
    align-items: center;
    padding: 32px;
}
.navbar ul{
    margin: 0;
    /* padding: 0; */
}
ul.topNav li{
    list-style: none;
    float: left;
}
ul.topNav li.topNav-right{
    float: right;
}
ul.topNav li img{
    height: 50%;
    width: 60%;
    /* padding-left: 10px; */
    /* padding: 15px; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
}
ul.topNav li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding-right: 50px;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    color: #fff;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    margin-top: 65px;
}
.row::after
{
    display: table;
    clear: both;
    content: " ";
}

.imageClass
{
    width: 50%;
    float: left;
    align-items: center;
}

.comingSoonImg
{
    width: 90%;
    margin-left: 8%;
    border-radius: 344px;
}

.aboutHacktoberfest
{
    margin-top: -50px !important; 
    width: 50%;
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.aboutHacktoberfest p{
    padding-right: 8%;
    padding-left: 2%;
    color: #2B3531;
    

    /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}
.aboutHacktoberfest p a{
    text-decoration: none;
}

.aboutHacktoberfest p.heading
{
    font-size: 50px;
    line-height: 57px;
    font-weight: 600;
    text-align: justify;
    color: #212121;
    
    /* text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25); */
}
